@import "compass";
html, body{
  margin:0px; padding:0px;
}
.hero, .content{
  text-align:center; 
  position:relative;
  width: 100%;
}
#hero1{
    background-image :url("https://raw.githubusercontent.com/thraddash/thraddash.github.io/master/images/old_github/fog.jpg");
     background-size:cover;
     background-position:center center;
     background-attachment:fixed;
}
