body {
    background-image :url(https://github.com/thraddash/thraddash.github.io/tree/master/images/old_github/fog.jpg);
     background-size:cover;
     background-position:center center;
     background-attachment:fixed;
}